// Spacing, margins, padding
$xs-rem: 0.35rem;
$sm-rem: 0.75rem;
$md-rem: 1.5rem;
$lg-rem: 2rem;
$xl-rem: 3rem;

$sm-px: 10px;
$md-px: 20px;
$lg-px: 30px;
$xl-px: 60px;

$sm-vw: 1vw;
$md-vw: 2vw;
$lg-vw: 3vw;
$xl-vw: 5vw;
