@import 'includes/variables';


:root
{
    font-size: 16px;
}

.kg-width-wide,
.kg-width-full,
.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image 
{
    font: inherit;
}


// .header 
// {
// 	// For easier visual context during development
//     background-color: cornflowerblue; 
// }


.wrapper
{
	box-sizing: border-box;
	width: 100vw;

	margin: 0 auto;
}


.main
{        
	header, section, footer 
	{
		margin: 0;
	}
}


// Where the post's body content lives
.post
{
    margin: 0 0 $xl-rem;
    padding: 0;

    section, footer
    {
		padding: $sm-rem $lg-vw;
	}
	

    section
    {
        > * 
        {
            margin: 0;
            padding: 0;
        }

        h1 
        {
            font-size: $lg-rem;
        }

        h1, h2, h3
        {
            margin: $md-rem 0 $sm-rem;
        }

        h4, h5, h6
        {
            margin: $sm-rem 0 $xs-rem;
        }

        p 
        {
            margin: 0.25rem 0;
        }

        ol, ul 
        {
            margin-left: $md-rem;
        }
    }
}


.footer 
{
	// For easier visual context during development
	// background-color: paleturquoise;
	
	margin: 0;
	padding: 0;
}


.post-title
{
    font-size: $xl-rem;
    margin-bottom: $lg-rem;
}
