@import 'includes/variables';

$content-max-width: 1100px;


:root
{
    font-size: 16px;
}

.kg-width-wide,
.kg-width-full,
.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image 
{
    font: inherit;
}

.header 
{
    background: cornflowerblue; 
}


.wrapper
{
    box-sizing: border-box;

    max-width: $content-max-width;

    margin: 0 auto;
    padding: $xl-px;


    .header, .main, .footer
    {
        margin: 0;
        padding: 0;

        > * {
            border: none;
            margin: 0;
            padding: 0;
        }
        
    }

    .main
    {
        // Where the post's body content lives
        .post
        {
            margin: 0 0 $xl-rem;
            padding: 0;

            header, section, footer
            {
                margin: 0;
                padding: 0;

                > * 
                {
                    margin: 0;
                    padding: 0;
                }
            }

            section
            {
                > * 
                {
                    margin: 0;
                    padding: 0;
                }

                h1 
                {
                    font-size: $lg-rem;
                }

                h1, h2, h3
                {
                    margin: $md-rem 0 $sm-rem;
                }

                h4, h5, h6
                {
                    margin: $sm-rem 0 $xs-rem;
                }

                p 
                {
                    margin: 0.25rem 0;
                }

                ol, ul 
                {
                    margin-left: $md-rem;
                }
            }
        }

        header, section, footer 
        {
            margin: 0;
        }
    }

}


.footer 
{
    background-color: paleturquoise;
    margin: 0;
    padding: 0;
}

.post-title
{
    font-size: $xl-rem;
    margin-bottom: $lg-rem;
}
