body {
  box-sizing: border-box;
  color: #2f2c30;
  margin: 50px;
  padding: 50px; }
  body img {
    max-width: 100%; }
  @media (max-width: 1024px) {
    body {
      margin: 15px;
      padding: 15px; } }
  @media (max-width: 768px) {
    body {
      margin: 10px;
      padding: 10px; } }
  @media (max-width: 640px) {
    body {
      margin: 0px;
      padding: 0px; } }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }
  .wrapper .header,
  .wrapper .main,
  .wrapper .footer {
    background: #fbfbf9;
    margin: 15px;
    padding: 15px; }
    .wrapper .header > *,
    .wrapper .main > *,
    .wrapper .footer > * {
      border: 5px dashed #bac0ce;
      margin: 25px;
      padding: 25px; }
    @media (max-width: 768px) {
      .wrapper .header,
      .wrapper .main,
      .wrapper .footer {
        margin: 0; } }
  .wrapper .main .post header,
  .wrapper .main .post section,
  .wrapper .main .post footer {
    padding: 0; }
    .wrapper .main .post header > *,
    .wrapper .main .post section > *,
    .wrapper .main .post footer > * {
      margin: 30px;
      padding: 15px; }
      @media (max-width: 768px) {
        .wrapper .main .post header > *,
        .wrapper .main .post section > *,
        .wrapper .main .post footer > * {
          margin: 0; } }
  .wrapper .main .post header > *,
  .wrapper .main .post footer > * {
    background: #e9e8e6; }
  .wrapper .main .post section {
    background: #e9e8e6;
    margin: 30px;
    padding: 15px; }
    .wrapper .main .post section > * {
      margin: 0;
      padding: 0; }
    @media (max-width: 768px) {
      .wrapper .main .post section {
        margin: 0; } }
